<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../assets/logo.svg">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../css/video-js.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/style.css?v=1">

    <title>Goblet</title>
</head>
<body class="text-center" style="background-color: #242424">
<!--#ba4c28-->
<!-- Image and text -->
<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="../assets/logo-words.svg" style="height: 5vh" class="d-inline-block align-top mr-3"
             alt="">
    </a>
    <span class="navbar-text" style="color: red;">
        <a class="button-blue mr-4" id="host_button" onclick="registerAsHost()">REGISTER AS HOST</a>
      <span class="dot mr-2"></span><a style="color: red; font-size: larger" id="viewers">1</a>&nbsp;<a
            style="color: red; font-size: larger" id="stupid">VIEWER</a>
    </span>
</nav>
<div id="video">
    <video
            id="main"
            class="video-js vjs-big-play-centered"
            style="height: 80vh; width: 100vw"
            controls
            preload="auto"
            poster="../assets/logo-words.svg"
            data-setup="{}"
    >
        <source src="../.videos/0.mp4" type="video/mp4"/>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
            >
        </p>
    </video>
</div>
<div class="mt-4 text-center px-3">
    <div class="row">
        <div class="col text-left">
            <button class="button-blue" onclick="refreshplayer(true)"><img src="../assets/refresh-cw.svg"></button>
        </div>
        <div class="col text-center">
            <form method="post" enctype="multipart/form-data">
                <label for="getFile">UPLOAD</label>
                <input type='file' id="getFile" name=file>
                <button class="button-blue" onclick="document.getElementById('submitbutton').click()">➤</button>
                <input type='submit' value=Upload id="submitbutton" style="display:none">
            </form>
        </div>
        <div class="col text-right">
            <button class="button-blue" onclick="savetime()">SAVE TIME</button>
            <button class="button-blue" onclick="seeksavetime()">GO TO <span id="goto">0</span></button>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
<script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
